@page
@model Barlang.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Barlang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.nev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.nev)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.hossz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.hossz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.kiterjedes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.kiterjedes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.melyseg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.melyseg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.magassag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.magassag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barlang.telepules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barlang.telepules)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Barlang.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
